<h1><%= @professor.nome %></h1>

<p>email: <%= @professor.email %></p>

<%# O link_to recebe por padrão dois parâmetros: o texto para
    o link e o destino. Neste caso, o destino é a action index
    do próprio controller.
%>
<p><%= link_to "Voltar à lista", :action => :index %></p>
